<h3>Libros Google</h3>
<div class="form-group">
  <label for="clave">Buscar dentrodel título</label>
  <input type="text" class="form-control" id="clave"
  (keydown.enter)="buscar()"
  [formControl]="fcClave">
</div>
<button type="button" (click)="buscar()"
    class="btn btn-primary">Buscar</button>
<div *ngIf="libros.length">
    <h3>Lista de libros</h3>
    <ul class="list-group">
        <li *ngFor="let item of libros" class="list-group-item">
            {{ item.autores }} - {{ item.titulo}}
        </li>
    </ul>
</div>

